<tr align="center">
<td><center><strong>
<font size=1 color="blue"> @CHR@ </font></center></strong></td>
<td><center><strong>
<font size=1 color="blue"> @BPSTART@ </font></center></strong></td>
<td><center><strong>
<font size=1 color="blue"> @BPEND@ </font></center></strong></td>
<td><center><strong>
<font size=1 color="blue"> @BPSIZE@ </font></center></strong></td>
<td><center><strong>
<font size=1 color="blue"> @L2MEAN@ </font></center></strong></td>
<td><center><strong>
<font size=1 color="blue"> @ABERRPVAL@ </font></center></strong></td>
<td><center><strong>
<font size=1 color="blue"> @ABERRPRC@ </font></center></strong></td>
<td><center><strong>
<font size=1 color="blue"> @FOC@ </font></center></strong></td>
</tr>
