<center><font color="blue"><strong>
<h3><a name="List of All Regions">List of All Regions</a></h3>
</strong></font>
<center>
<font size=2 color="red">Click on the Column to Sort</font>
</center>
<table border="1" class="sortable">
<tr align="center">
<td><center>
<strong><font size=1 color="blue"> Chromosome</font>
</center></strong></td>
<td><center>
<strong><font size=1 color="blue">bp Start</font>
</center></strong></td>
<td><center>
<strong><font size=1 color="blue">bp End</font>
</center></strong></td>
<td><center>
<strong><font size=1 color="blue">Region Size (in bp)</font>
</center></strong></td>
<td><center>
<strong><font size=1 color="blue">Mean</font>
</center></strong></td>
<td><center>
<strong><font size=1 color="blue">Loss p-value</font>
</center></strong></td>
<td><center>
<strong><font size=1 color="blue">% Loss</font>
</center></strong></td>
<td><center>
<strong><font size=1 color="blue">Gain p-value</font>
</center></strong></td>
<td><center>
<strong><font size=1 color="blue">% Gain</font>
</center></strong></td>
<td><center>
<strong><font size=1 color="blue">LOH p-value</font>
</center></strong></td>
<td><center>
<strong><font size=1 color="blue">% LOH </center></strong></font></td></tr>
