<html>
<head>
<title> @TITLE@ </title> 
<script src="sorttable.js"></script>
</head>
<body>
<table>
<tr align="center">
<td><center>
<A href="http://bioinformatics.biogem.it">
<IMG src="bioinfologo.png" height="100" align="left"></A>
</td>
<td>
<br><center><h3><font color="blue">
<strong> Analysis Report</strong></font></h3>
<font size=2>Analysis Performed on: 
<font color="blue"><strong>@DATE@</strong></font><br><br>
<a href=@GENEFILE@>Go to Gene Summary</a><br><br>
<a href="#Summary of Input Parameters">Summary Input Parameters</a>
<a href="#Results Summary">Results Summary</a>    
<a href="#List of All Regions">List of All Regions</a>    
<a href="#List of Deleted Regions">List of Deleted Regions</a>    
<a href="#List of Amplified Regions">List of Amplified Regions</a>
<a href="#List of LOH Regions">List of LOH Regions</a>
</td>
</tr>
</table>
</center></font><hr>
