<center><font color="blue"><strong>
<h3>
<a name="List of @TABNAME@ Regions"> List of @TABNAME@ Regions</a></h3>
</strong></font>
<center><font size=2 color="red">Click on the Column to Sort</font></center>
<table border="1" class="sortable">
<tr align="center">
<td><center>
<strong><font size=1 color="blue"> Chromosome</font>
</center></strong></td>
<td><center>
<strong><font size=1 color="blue">bp Start</font>
</center></strong></td>
<td><center>
<strong><font size=1 color="blue">bp End</font>
</center></strong></td>
<td><center>
<strong><font size=1 color="blue">Region Size (in bp)</font>
</center></strong></td>
<td><center>
<strong><font size=1 color="blue">LRR @ABERR@ Mean</font>
</center></strong></td>
<td><center>
<strong><font size=1 color="blue"> @ABERR@ <em>@SIGN@</em>-value </font>
</center></strong></td>
<td><center>
<strong><font size=1 color="blue">% @ABERR@ </td></center></strong>
<td><center>
<strong><font size=1 color="blue"> Focal-score </td></center></strong>
</font></tr>
