<center><font color="blue">
<strong><h3>
<a name="List of @TABNAME@ Genes"> List of @TABNAME@ Genes</a>
</h3></strong></font>
<center><strong><font size=2 color="red">
Click on the Ensembl Gene ID to access to Gene Ensembl Page
</font></strong></center>
<center><font size=2 color="red">Click on the Column to Sort</font></center>
<table border="1" class="sortable">
<tr align="center">
<td><center><strong><font size=1 color="blue"> 
<IMG src="ensemblicon.gif" align="left" border="0"> Ensembl Gene ID</font>
</center></strong></td>
<td><center><strong><font size=1 color="blue">
External Gene ID</font></center></strong></td>
<td><center><strong><font size=1 color="blue">
Chromosome</font></center></strong></td>
<td><center><strong><font size=1 color="blue">
Gene Start</font></center></strong></td>
<td><center><strong><font size=1 color="blue">
Gene End</font></center></strong></td>
<td><center><strong><font size=1 color="blue">
Cytoband</font></center></strong></td>
<td><center><strong><font size=1 color="blue">
Strand</font></center></strong></td>
<td><center><strong><font size=1 color="blue">
Description</font></center></strong></td>
<td><center><strong><font size=1 color="blue">
@ABERR@ p-value </center></strong></font></td>
<td><center><strong><font size=1 color="blue">
% @ABERR@ </center></strong></font></td>
</tr>
