<center><font color="blue"><strong><h3><a name="Summary of Input Parameters">
Summary of Input Parameters</a></h3></strong></font></center>
<center><table>
<tr  valign="top">
<td>
<font size=2>
<center>
<u><strong>General</strong></u><br>
Number of Samples: 
<font size=2 color="blue"><strong> @NUMSAMPLE@ </strong></font><br>
Number of Chromosomes: 
<font size=2 color="blue"><strong> @NUMCHR@ </strong></font><br>
Number of Observed Probes: 
<font size=2 color="blue"><strong> @NUMPROBE@ </strong></font><br>
B Allele Frequency for LOH Calculation: 
<font size=2 color="blue"><strong> @BAF@ </strong></font><br></center>
</font>
</td>
<td></td>
<td>
<font size=2>
<center><u><strong>Segmentation Parameters</strong></u><br>
Value of Beta: <font size=2 color="blue"><strong> @BETA@ </strong></font><br>
Minimum Size Allowed for a  Region: 
<font size=2 color="blue"><strong> @MINBP@ </strong></font><br></center>
</font>
</td>
<td></td>
<td>
<font size=2>
<center><u><strong>Classification Parameters</strong></u><br>
Loss Threshold: 
<font size=2 color="blue"><strong> @LOSST@ </strong></font><br>
Gain Threshold: 
<font size=2 color="blue"><strong> @GAINT@ </strong></font><br></center>
<center> LOH Threshold: 
<font size=2 color="blue"><strong> @LOHT@ </strong></font><br>
LOH Percentage: 
<font size=2 color="blue"><strong> @LOHP@ </strong></font><br></center>
</font>
</td>
<td></td>
<td>
<font size=2>
<center><u><strong>Parameters for Statistical Test</strong></u><br>
Number of Bootstrap Iterations: 
<font size=2 color="blue"><strong> @BS@ </strong></font><br>
<em>@SIGN@</em>-value: <font size=2 color="blue">
<strong> @PVAL@ </strong></font><br></center>
</font>
</td>
</tr>
</table>
</center>
<hr>
<center><font color="blue">
<strong><h3><a name="Results Summary">Results Summary</a></h3></strong></font>
<font size=2>
Total Number of Regions: 
<font size=2 color="blue"><strong> @NUMREG@ </strong></font><br>
Deletion: 
<font size=2 color="blue"><strong> @NUMDEL@ </strong></font><br>
Amplification: 
<font size=2 color="blue"><strong> @NUMAMP@ </strong></font><br>
LOH: <font size=2 color="blue"><strong> @NUMLOH@ </strong></font><br>
</font>
</center><hr>

